In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# PLOTLY DataFrame

# File to Load
file_to_load = "../NBA_Data/nba_totals.csv"

# Read .csv File and store into Pandas data frame
totals_df = pd.read_csv(file_to_load)
pd.set_option('display.max_columns', None)
totals_df
# # Convert to json
# totals_df.to_json(r'nba_stats.json')

# totals_df['PPG'] = round(totals_df.PTS / totals_df.GP,1)

# totals_df= totals_df.groupby('SEASON')['PTS'].apply(lambda grp: grp.nlargest(5).sum())

# df.groupby('State')['Population'].apply(lambda grp: grp.nlargest(2).sum())

totals_df = totals_df.rename(columns={"3PM": "T_3PM", "3PA": "T_3PA", "3P%": "T_3P%"})
totals_df

totals_df = totals_df[totals_df.SALARY != '-']
totals_df

# Convert to json
totals_df.to_json(r'data/nba.json',orient='records')

# pd.set_option('display.max_columns', None)
# totals_df

In [3]:
scoring_df = totals_df[['ERA','SEASON','PLAYER','GP','FGM','FG%','T_3PM','T_3P%','FTM','FT%']]
scoring_df['FG-3P-FT PTS'] = ((scoring_df.FGM*2)+(scoring_df.T_3PM *3)+(scoring_df.FTM*1))
# scoring_df['FG_PTS']
# scoring_df = scoring_df[scoring_df['GP'] > 60]
scoring_df

# conditional filter example dataframe['column_name']== value

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ERA,SEASON,PLAYER,GP,FGM,FG%,T_3PM,T_3P%,FTM,FT%,FG-3P-FT PTS
2024,1990-94,1990-91,Michael Jordan,82,990,53.9,29,31.2,571,85.1,2638
2025,1990-94,1990-91,Karl Malone,82,847,52.7,4,28.6,684,77.0,2390
2026,1990-94,1990-91,Patrick Ewing,81,845,51.4,0,0.0,464,74.5,2154
2027,1990-94,1990-91,Chris Mullin,82,777,53.6,40,30.1,513,88.4,2187
2028,1990-94,1990-91,David Robinson,82,754,55.2,1,14.3,592,76.2,2103
...,...,...,...,...,...,...,...,...,...,...,...
15544,2020,2019-20,Quinndary Weatherspoon,3,0,0.0,0,0.0,0,0.0,0
15545,2020,2019-20,Stanton Kidd,4,0,0.0,0,0.0,0,0.0,0
15546,2020,2019-20,Talen Horton-Tucker,2,0,0.0,0,0.0,0,0.0,0
15547,2020,2019-20,Vic Law,5,0,0.0,0,0.0,0,0.0,0
15548,2020,2019-20,William Howard,2,0,0.0,0,0.0,0,0.0,0

In [4]:
# Filter by Season
season_df = scoring_df.loc[scoring_df['SEASON'] == '1990-91']
season_df

,ERA,SEASON,PLAYER,GP,FGM,FG%,T_3PM,T_3P%,FTM,FT%,FG-3P-FT PTS
2024,1990-94,1990-91,Michael Jordan,82,990,53.9,29,31.2,571,85.1,2638
2025,1990-94,1990-91,Karl Malone,82,847,52.7,4,28.6,684,77.0,2390
2026,1990-94,1990-91,Patrick Ewing,81,845,51.4,0,0.0,464,74.5,2154
2027,1990-94,1990-91,Chris Mullin,82,777,53.6,40,30.1,513,88.4,2187
2028,1990-94,1990-91,David Robinson,82,754,55.2,1,14.3,592,76.2,2103
...,...,...,...,...,...,...,...,...,...,...,...
2393,1990-94,1990-91,A.J. Wynder,6,3,25.0,0,0.0,6,75.0,12
2397,1990-94,1990-91,Charles Smith,5,3,42.9,0,0.0,3,60.0,9
2403,1990-94,1990-91,Derek Smith,2,1,25.0,0,0.0,3,75.0,5
2404,1990-94,1990-91,Ian Lockhart,1,1,100.0,0,0.0,2,100.0,4
2407,1990-94,1990-91,Gary Leonard,4,0,0.0,0,0.0,2,50.0,2

In [ ]:
# Select Top and Bottom PTS scored per game
top = season_df.nlargest(50,'FG-3P-FT PTS', keep='all')
top
bottom = season_df.nsmallest(50,'FG-3P-FT PTS')
bottom

frames = [top,bottom]
top_bottom_df = pd.concat(frames)
top_bottom_df

# top_bottom= [(season_df.nlargest(50,'PTS',keep='all')) | (season_df.nsmallest(50,'PTS'))]
# NOT WORKING WHEN COMBINED WITH OR STATEMENT

# df.nlargest(#, 'column_name',keep ='all')
#     keep = 'all' keeps duplicate values
    
#  df[(df.column_name >= 200) | (df.column_name == 'Value')]
#     | = OR

In [ ]:
# # conditional filter example: dataframe['column_name']== value

# # totals_df= totals_df.groupby('SEASON')['PTS'].apply(lambda grp: grp.nlargest(5).sum())

# # df.groupby('State')['Population'].apply(lambda grp: grp.nlargest(2).sum())